*,
::after,
::before {
  border-width: 0;
  border-style: solid;
  border-color: initial;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  overflow-x: hidden;
}
